@import "../../../shared/styles/variables";

.hs-list-element {
  cursor: pointer;
  transition: transform 200ms ease;
  margin: 0.5em;
}


.hs-list-element.selected {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}

.hs-list-element:hover {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}

.hs-list-element:hover > .hs-list-element-shortname {
  word-wrap: break-word;
}

.hs-list-element:focus {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}





