@import "../../../shared/styles/variables";


.hs-list-element {
  font-size: 100%;
  width: 80px;
  height: 100px;
  margin: 0.5em;
  padding: 0.5em;

  border-radius: 12px;
  background-color: #ededed;

  box-shadow: $box-shadow-z2;

  transition: transform 200ms ease;
}


.hs-list-element.selected {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}

.hs-list-element:hover {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}

.hs-list-element:hover > .hs-list-element-shortname {
  word-wrap: break-word;
}

.hs-list-element:focus {
  transform: scale(1.15);
  box-shadow: $box-shadow-z3;
}


.hs-list-element-shortname {
  width: 100%;
  line-height: 1em; 
  height: 3em; // three lines at line-height of 12px;
  font-size: 70%;
  text-align: center;
  word-wrap: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.hs-list-element-icon {

  position: relative;

  width: 45px;
  height: 45px;
  padding-top: 2px;
  margin: 5px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 100%;

  background-size: $hs-list-element-icon-size;
  background: url("../../../shared/images/school.svg");
}


// Certain success
.hs-list-element-icon.succ-certain {
  transform: scale(1.1);
  background-color: lighten($col-succ-certain, 10%);
}

// Likely success
.hs-list-element-icon.succ-likely {
  background-color: lighten($col-succ-likely, 10%);
}

// Uncertain success
.hs-list-element-icon.succ-uncertain {
  background-color: lighten($col-succ-uncertain, 10%);
}

// Unlikely success
.hs-list-element-icon.succ-unlikely {
  background-color: lighten($col-succ-unlikely, 10%);
}

// No chance of success
.hs-list-element-icon.succ-none {
  background-color: lighten($col-succ-none, 10%);
  //color: $col-app-gray;
}

// Not implemented
.hs-list-element-icon.succ-not-implemented {
  background: none;
  border: 2px dashed #999;
}



