@import "../../../shared/styles/variables";

.success-chance-filter {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-left: -0.5em;
  padding-bottom: 0.5em;
  box-shadow: $box-shadow-z2;
  text-align: center;
}
