@import "../../shared/styles/variables";

.program-card {
  position: relative;
  font-size: 100%;
  width: 80px;
  height: 80px;
  padding: 0.5em;

  background-color: none;
}

.program-card-icon-container {
  position: relative;

  width: 60px;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  overflow: hidden;

  &.succ-certain {
    background-color: lighten($col-succ-certain, 10%);
  }
  &.succ-likely {
    background-color: lighten($col-succ-likely, 10%);
  }
  &.succ-uncertain {
    background-color: lighten($col-succ-uncertain, 10%);
  }
  &.succ-unlikely {
    background-color: lighten($col-succ-unlikely, 10%);
  }
  &.succ-none {
    background-color: lighten($col-succ-none, 10%);
  }
  &.succ-not-implemented {
    background-color: inherit;
    border: 2px dashed #999;
  }
}

.program-card-displayname {
  width: 100%;
  line-height: 1em; 
  height: 3em; // three lines at line-height of 12px;
  font-size: 0.7rem;
  text-align: center;
  word-wrap: normal; 
  overflow: hidden;
  text-overflow: ellipsis;

  // mimic link styling
  color: #0000FF;
  text-decoration: underline;
}

.program-card-displayname.visited {
  color: purple;
}



