@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/spinning-load-icon";

.address-tier-calculator {
  position: relative;
  margin-top: $margin-sm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.address-field-wrapper {
  flex: 3 0 auto;
  position: relative;
}

.tier-display-wrapper {
  flex: 1 0 auto;
}

.tier-display-container {
  flex: 0 0 auto;
}

.tier-display-label {
  font-size: 90%;
  color: #444;
}

.tier-display {
  margin: 0.5em;
  padding: 5px;
  line-height: 1em;
  background-color: #efefef;

  width: 2em;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
  font-size: 125%;
}

.address-suffix {
  padding: 0.5em 0.5em 0.5em 0;
  margin: 0.5em 0.5em 0.5em 0;
  color: #666;
  margin-right: 0.5em;
}


.tier-calc-error-display {
  position: absolute;
  bottom: -5px;
  left: 10px;
  
  color: #555;
  font-size: 90%;
  font-style: italic;
  transform: translateX(0);
  transition: transform 25ms ease;
}

.tier-calc-error-display.no-err {
  transform: translateX(-100%);
}
